.background {
    -fx-background-color: #2b2b2b;
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-opacity: 0.6;
    -fx-pref-height: 25px;
}

.label-bright {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-opacity: 1;
    -fx-pref-height: 25px;
}

.label-header {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-opacity: 1;
    -fx-pref-height: 25px;
}

.text-field {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-background-color: #2b2b2b;
    -fx-opacity: 1;
    -fx-border-color: #a9b7c6;
    -fx-padding: 1px;
    -fx-pref-height: 25px;
}

.text-field-valid {
    -fx-text-fill: green;
}

.text-field-invalid {
    -fx-text-fill: red;
}

.check-box {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #a9b7c6;
    -fx-padding: 2px;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 12px;
    -fx-pref-height: 25px;
}

.choice-box {
    -fx-border-color: #a9b7c6;
    -fx-background-color: #2b2b2b;
    -fx-padding: 1px;
    -fx-pref-height: 25px;
}

.table-view {
    -fx-base: #2b2b2b;
    -fx-control-inner-background: #2b2b2b;
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 2px;
    -fx-border-color: #a9b7c6;
}

.table-view.column-header-background {
    -fx-background-color: transparent;
}

.table-view.column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #2b2b2b transparent #2b2b2b;
    -fx-background-color: transparent, derive(#2b2b2b, 20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#2b2b2b, 20%);
}

.context-menu {
    -fx-background-color: derive(#2b2b2b, 50%);
}

.menu-bar .label {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
    -fx-text-fill: #a9b7c6;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 12px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-height: 25px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #a9b7c6;
    -fx-text-fill: #2b2b2b;
}

.button:focused {
    -fx-border-color: #a9b7c6, #a9b7c6;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #a9b7c6;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.progress-bar {
    -fx-box-border: goldenrod;
    -fx-pref-height: 15px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 2px;
}

.green-bar {
    -fx-accent: green;
}

.yellow-bar {
    -fx-accent: yellow;
}

.orange-bar {
    -fx-accent: orange;
}

.red-bar {
    -fx-accent: red;
}

.progress-bar > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: #a9b7c6;
}